@font-face {
    font-family: 'platzi-video';
    src:  url('../fonts/platzi-video.eot?5j91om');
    src:  url('../fonts/platzi-video.eot?5j91om#iefix') format('embedded-opentype'),
    url('../fonts/platzi-video.ttf?5j91om') format('truetype'),
    url('../fonts/platzi-video.woff?5j91om') format('woff'),
    url('../fonts/platzi-video.svg?5j91om#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'platzi-video' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
    content: "\e900";
}
.icon-share:before {
    content: "\e901";
}
.icon-previous:before {
    content: "\e902";
}
.icon-play:before {
    content: "\e903";
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #171b2f;
    color: white;
    padding: 30px 10px;
    box-sizing: border-box;
}

aside .logo {
    width: 250px;
}

aside .playlist {
    margin-bottom: 30px;
    padding-left: 10px;
}
.playlist .playlist-title {
    font-size: 1.1em;
    font-weight: normal;
}
.playlist .playlist-container {
    list-style: none;
    padding: 0;
    width: 85%;
}
.playlist .playlist-container a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}
.playlist .playlist-container a:hover .playlist-name {
    text-decoration: underline;
}
.playlist .playlist-container .playlist-number {
    margin-right: 30px;
    font-size: 1em;
}
.playlist .playlist-container .playlist-name {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.4em;
}

aside .friends {
    padding-left: 10px;
}
.friends .friends-title {
    font-size: 1.1em;
    font-weight: normal;
}
.friends .friends-container {
    list-style: none;
    padding: 0;
    width: 85%;
}
.friends .friends-container a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.friends .friends-container a:hover .friend-name {
    text-decoration: underline;
}
.friends .friends-container .friend-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

main {
    margin-left: 300px;
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-areas:
        "hero hero"
        "info info"
        "comments suggest"
    ;
}

main .hero {
    width: 100%;
    height: 500px;
    background-image: url('https://images.pexels.com/photos/952437/pexels-photo-952437.jpeg?cs=srgb&dl=pexels-chad-kirchoff-952437.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    grid-area: hero;
}
main .hero .hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-overlay .icon-previous {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px 30px;
    font-size: 2em;
}
.hero-overlay .icon-play {
    font-size: 8em;
}

main .info {
    grid-area: info;
    display: flex;
    align-items: flex-end;
    padding: 25px 0;
    border-bottom: 2px solid #bebebe;
}
.info .info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 15px;
    margin-right: 30px;
}
.info-container .info-title {
    grid-column: span 3;
    margin: 0;
    font-weight: normal;
    font-size: 1.2em;
}
.info-container .info-views {
    grid-column: span 3;
    color: #777;
    font-size: 0.98em;
}
.info-container .info-add {
    background-color: #ff1315;
    border: 1px solid #ff1315;
    border-radius: 10px;
    font-size: 0.9em;
    padding: 6px 12px;
    margin: 20px 30px 0 0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.info-container .info-add:hover {
    background-color: white;
    color: #ff1315;
    border: 1px solid #ff1315;
}
.info-container .icon {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
}
.info-container .icon i {
    font-size: 1.5em;
}
.info-container .icon span {
    display: block;
}
.info .generes span {
    border-radius: 15px;
    color: white;
    min-width: 80px;
    display: inline-block;
    text-align: center;
    padding: 5px 5px;
    font-size: 0.8em;
}
.info .generes .purple {
    background-color: #9551f7;
}
.info .generes .cyan {
    background-color: #16eac3;
}
.info .generes .red {
    background-color: #e01622;
}
.info .generes .pink {
    background-color: #ec2f83;
}

main .comments {
    justify-self: center;
    padding: 20px;
}
.comments .comments-title {
    font-size: 1em;
    font-weight: 500;
}
.comments .comments-form {
    display: flex;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
}
.comments-form .form-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.comments-form .form-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
}
.comments .comments-content {
    padding-top: 20px;
}
.comments-content .comment-single {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.comment-single .comment-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.comment-single .comment-info {
    margin: 0;
}
.comment-single .comment-info span {
    display: block;
}

main .suggest {
    padding: 20px;
}
.suggest .suggest-title {
    font-size: 1em;
    font-weight: 500;
}
.suggest .suggest-container {
    width: 300px;
}
.suggest-container .suggest-image {
    margin: 0;
    width: 300px;
}
.suggest-container .suggest-image img {
    width: inherit;
    height: 200px;
    object-fit: cover;
}